<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112283866-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-112283866-1');
    </script>
    <title>Redirector</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/main.css" rel="stylesheet" media="screen">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <link rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  </head>
<body>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <div class="container">
    <h1>Redirect rectifier - making art bountiful</h1>
    <p>In response to <a href="https://donaldhanson.net/">Donald Hanson's <a href="https://permanent-redirect.xyz/">redirector project</a>, a selenium Chrome instance in python is constantly running on a Raspberry Pi to constantly identify the most current page at which the artwork is currently available. Whenever it rediscovers this art, it holds for 20 seconds to allow any visitor to this page to view the artwork. As of now, the machine has clicked on at least <%= @count %> links, and has just viewed <a href="<%= @latest["clicked_link"] %>">this page  created at <%= @latest["timestamp"].utc.strftime("%B %e, %Y at %l:%M %P UTC") %></a>. To view the art, simply refresh this page whenever you want to view it, and click that link, which will skip directly to the closest known redirect, and thus closest known access to the art - you should hit the pages within a few clicks from here. As Donald writes, his project is "[p]art of experiments in digital scarcity and internet impermanence" -- this page serves as a response that asserts that scarcity and impermanence are not facts of the Internet, but deliberate architectural decisions that can be solved.</p>
    <h2>Click Stats</h2>
    <div id="chart_div"></div>
    <script type="text/javascript">
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

          var data = new google.visualization.DataTable();
          data.addColumn('number', 'Clicks');
          data.addColumn('number', 'Number of Visitors');

          data.addRows(<%= @stats.to_json %>);

          var options = {
            hAxis: {
              title: 'Clicks'
            },
            vAxis: {
              title: 'Visitors'
            }
          };

          var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

          chart.draw(data, options);
        }
    </script>
    (Originally seen at <a href="https://theoutline.com/post/2855/we-d-love-to-link-you-to-this-website-but-it-s-impossible?utm_source=TW&zd=1">The Outline</a> via my Twitter timeline) | <a href="http://twitter.com/dgaff">@DGaff</a> | <a href="http://github.com/DGaffney/redirects">Github</a>
  </div>
</body>
</html>